.nav_2{
    position: relative;
    margin: 0;
    margin-top: 60px;
}

.nav-item span{
    color: black !important;
}

.nav-item span:hover{
    color: #555555 !important;
}

.nav_2 {
	position: relative;
	margin: 0;
	margin-top: 60px;
}

.nav-item span {
	color: black !important;
}

.nav-item span:hover {
	color: #555555 !important;
}

.quantity {
}

.no-arrow {
    display: none !important;
}